.HomePage {
  background-image: url("../src/HomeLibrary.jpg");
  background-repeat: no-repeat;
 background-size: cover;
  
   height: 100vh;
 
}

/* Add book  */
.addBooksCard {
  vertical-align: middle;
  padding-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
  color: aliceblue;
}

/* addBook + updateBook bookCover */
.bookCover {
  background-image: url("../src/BookCover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;

}

/* Background image for pages */
.cardTiles {
  margin: 4%;
  height: 35vh;
  width: 92%;
}

.cardBox{
  background-image: url("../src/bookshelf.jpg");
  background-size: contain;
  background-repeat: repeat-y;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
